* {
    font-family: helvetica;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem;
}

h1 {
    margin-bottom: 1rem;
}

button {
    padding: 0.6rem 1.2rem;
    background-color: #888;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    opacity: 0.9;
    font-size: 1rem;
}